{% extends 'base.html.twig' %}

{% block title %}Hospice Tale{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur Hospice Tale !</h1>
    <img src="{{ asset('HospiceTale.png') }}" alt="Hospice Tale" style="max-width: 100%; height: auto; margin: 1rem 0; border-radius: 15px;">
</div>
{% endblock %}
